/* container */
#container {
    /* padding-top: 80px; */
}
#container > .logo {
}
/* banner */
#banner {
    background-color: rgb(32, 206, 32);
    height: 300px;
}

#banner > ul {
    width: 980px;
    height: 300px;
    margin: 0 auto;
    background-color: rgb(108, 108, 255);
    display: flex;
    overflow: hidden;
}

#banner > ul > li {
    width: 980px;
    height: 300px;
}

/* main */
main {
    /* width: 980px; */
    height: 200vh;
    /* margin: 0 auto; */
    background-color: rgb(255, 201, 102);
    display: flex;
}

main > aside {
    width: 320px;
    height: 100vh;
    background-color: rgb(253, 85, 85);
    position: sticky;
    top: 0px;
}
