* {
    border-radius: 0 !important;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
}

body,
input,
select,
textarea,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.purchase span {
    font-family: "Open Sans", "Noto Sans KR", "나눔바른고딕", "나눔고딕", "맑은고딕", sans-serif, "Helvetica Neue",
        "Helvetica", "Arial" !important;
}

body {
    color: #333;
    font-size: 13px;
    line-height: 1.6;
    background-color: #fff;
}

:before,
:after {
    box-sizing: border-box;
}

.wrapper {
    background: #fff;
}

.header {
    position: relative;
    z-index: 99;
    border-bottom: solid 2px #eee;
}

.header .topbar {
    position: relative;
    z-index: 12;
    padding: 8px 0;
}

.container {
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    height: 53px;
}

.header .topbar ul.loginbar {
    margin: 0;
}

.pull-right {
    float: right !important;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.header .topbar ul.loginbar > li {
    display: inline;
    list-style: none;
    position: relative;
    padding-bottom: 15px;
}

p,
li,
li a {
    color: #555;
}

li {
    text-align: -webkit-match-parent;
}

.header .topbar ul.loginbar > li > a,
.header .topbar ul.loginbar > li > a:hover {
    color: #7c8082;
    font-size: 11px;
    text-transform: uppercase;
}

a {
    color: #0076c0;
    text-decoration: none;
    background: 0 0;
}

a,
a:focus,
a:hover,
a:active,
button,
button:hover {
    outline: 0 !important;
}

.header .topbar ul.loginbar li.topbar-devider {
    margin: 0 9px 0 9px !important;
    top: -1px;
    padding: 0;
    font-size: 8px;
    position: relative;
    font-family: Tahoma;
    border-right: solid 1px #bbb;
}

.header .navbar-default {
    border: none;
    background: none;
}

.header .navbar {
    margin: 0;
    min-height: 40px !important;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.header .mega-menu .navbar-inner,
.header .mega-menu .container {
    position: relative;
}

.header .container > .navbar-header {
    margin-bottom: -30px;
}

.container > .navbar-header {
    margin-right: 0;
    margin-left: 0;
}

.navbar-header {
    float: left;
}

.header .navbar-default .navbar-toggle {
    border-color: #2980b9;
}

.header .navbar-toggle,
.header .navbar-default .navbar-toggle:hover,
.header .navbar-default .navbar-toggle:focus {
    background: #0076c0;
    padding: 6px 10px 2px;
}

.navbar-toggle {
    display: none;
    position: relative;
    float: right;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    border: 1px solid transparent;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button,
select {
    text-transform: none;
}

button {
    overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.header .navbar-default .navbar-toggle .fa {
    color: #fff;
    font-size: 19px;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
}

.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
    margin-left: 15px;
}

.header .navbar-brand {
    top: -25px;
    z-index: 10000;
    height: 100%;
    position: relative;
    padding: 0 10px 10px;
}

.navbar-default .navbar-brand {
    color: #777;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

.header .navbar-default .navbar-header .navbar-brand img {
    height: 60px;
}

img {
    vertical-align: middle;
    border: 0;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.header .mega-menu .nav,
.header .mega-menu .dropup,
.header .mega-menu .dropdown,
.header .mega-menu .collapse {
    position: static;
}

.header .container > .navbar-header,
.header .container-fluid > .navbar-header,
.header .container > .navbar-collapse,
.header .container-fluid > .navbar-collapse {
    margin-bottom: -10px;
}

.header .navbar-collapse {
    padding: 0;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #e7e7e7;
}

.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
}

.navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
}

.navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.header .navbar-nav {
    float: right;
}

.navbar-nav > li {
    float: left;
}

.nav > li {
    position: relative;
    display: block;
}

.header .navbar-default .navbar-nav > li > a {
    font-size: 14px;
    padding: 9px 25px 9px 25px;
    bottom: -2px;
    position: relative;
    color: #687074;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
}

.header .navbar-default .navbar-nav > li > a,
.header .navbar-default .navbar-nav > li > a:hover,
.header .navbar-default .navbar-nav > li > a:focus,
.header .navbar-default .navbar-nav > .active > a,
.header .navbar-default .navbar-nav > .active > a:hover,
.header .navbar-default .navbar-nav > .active > a:focus {
    background: none;
}

.header .navbar-default .navbar-nav > li > a,
.header .navbar-default .navbar-nav > li > a:focus {
    border-bottom: solid 2px transparent;
}

form {
    display: block;
    margin-top: 0em;
}

.breadcrumbs {
    overflow: hidden;
    padding: 10px 0 6px;
    border-bottom: solid 1px #eee;
    background: url(img/breadcrumbs.png) repeat;
    width: 1312.8px;
    height: 53px;
}

.breadcrumbs h1 {
    color: #666;
    font-size: 22px;
    margin-top: 8px;
}

.pull-left {
    float: left !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #585f69;
    margin-top: 5px;
    text-shadow: none;
    font-weight: normal;
    font-family: "Open Sans", sans-serif;
}

h1 {
    font-size: 28px;
    line-height: 35px;
}

h1,
.h1 {
    font-size: 36px;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.content {
    padding-top: 40px;
    padding-bottom: 40px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.col-md-offset-3 {
    margin-left: 25%;
}

.col-md-6 {
    width: 50%;
}

.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
    float: left;
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.reg-page {
    color: #555;
    padding: 30px;
    background: #fefefe;
    border: solid 1px #eee;
    box-shadow: 0 0 3px #eee;
}

.reg-header {
    color: #555;
    text-align: center;
    margin-bottom: 35px;
    border-bottom: solid 1px #eee;
}

.reg-header h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

h2 {
    font-size: 24px;
    line-height: 33px;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 0 0 10px;
}

.col-sm-12 {
    width: 100%;
}

.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12 {
    float: left;
}

.reg-page label {
    color: #777;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    cursor: default;
}

.has-success .form-control {
    border-color: #3c763d;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-5,
.margin-bottom-10,
.margin-bottom-15,
.margin-bottom-20,
.margin-bottom-25,
.margin-bottom-30,
.margin-bottom-35,
.margin-bottom-40,
.margin-bottom-45,
.margin-bottom-50,
.margin-bottom-55,
.margin-bottom-60 {
    clear: both;
}

.form-control {
    box-shadow: none;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline {
    color: #3c763d;
}

.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
}

.col-sm-6 {
    width: 50%;
}

.has-success .form-control {
    border-color: #3c763d;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.radio,
.checkbox {
    position: relative;
    display: block;
    min-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
    position: absolute;
    margin-top: 4px \9;
    margin-left: -20px;
}

input[type="radio"],
input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

.reg-page label {
    color: #777;
}

.radio label,
.checkbox label {
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.text-right {
    text-align: right;
}

.btn {
    box-shadow: none;
}

.btn-primary {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
    display: table;
    content: " ";
}

:before,
:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

hr {
    margin: 30px 0;
    border: 0;
    border-top: 1px solid #eee;
    height: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
